<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.MemberMapper">

	<select id="getLastEmpCode" resultType="String">
		SELECT empCode
		FROM employee
		WHERE empCode LIKE CONCAT(#{empCode}, '%')
		ORDER BY empCode DESC FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="listDepartment" resultType="com.sp.app.model.Member">
		SELECT deptIdx, deptName
		FROM department
	</select>
	
	<select id="listTeam" resultType="com.sp.app.model.Member">
		SELECT teamIdx, t.deptIdx, teamName
		FROM team t
		LEFT OUTER JOIN department d ON t.deptIdx = d.deptIdx
		WHERE t.deptIdx = #{deptIdx, jdbcType=NUMERIC}
	</select>
	
	<select id="listPosition" resultType="com.sp.app.model.Member">
		SELECT positionCode, positionName, parentCode
		FROM position
	</select>

	<insert id="insertEmployee" parameterType="com.sp.app.model.Member">
		<selectKey keyProperty="empIdx" resultType="java.lang.Long" order="BEFORE">
	        SELECT employee_seq.NEXTVAL FROM DUAL
	    </selectKey>
		INSERT INTO Employee(empIdx, empCode, empName, empPwd, deptIdx, teamIdx, positionCode, empTel, hireDate, empStatus, origProfile, saveProfile)
		VALUES (#{empIdx}, #{empCode}, #{empName}, #{empPwd}, #{deptIdx, jdbcType=VARCHAR}, #{teamIdx, jdbcType=VARCHAR}, #{positionCode, jdbcType=VARCHAR}, #{empTel}, #{hireDate}, 0, #{origProfile, jdbcType=VARCHAR}, #{saveProfile, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertEmployeeDetail" parameterType="com.sp.app.model.Member">
		INSERT INTO EmployeeDetail(empIdx, birth, email, tel, zipCode, addrMain, addrSub, rrn)
		VALUES (#{empIdx}, #{birth}, #{email}, #{tel}, #{zipCode}, #{addrMain}, #{addrSub}, #{rrn})
	</insert>


	<update id="updateLastLogin" parameterType="com.sp.app.model.Member">
	 	UPDATE EmployeeDetail SET lastLogin= #{lastLogin}
		WHERE empIdx = #{empIdx}
	</update>
	
	<update id="updateMemberStatus" parameterType="map">
	 	UPDATE EmployeeDetail SET empStatus= #{empStatus}
		WHERE empIdx = #{empIdx}
	</update>

	<update id="updateEmployee" parameterType="com.sp.app.model.Member">
		UPDATE Employee
		SET empName=#{empName}, deptIdx=#{deptIdx, jdbcType=VARCHAR}, teamIdx=#{teamIdx, jdbcType=VARCHAR}, 
		positionCode=#{positionCode, jdbcType=VARCHAR}, empTel= #{empTel}, empStatus=#{empStatus}, 
		saveProfile = #{saveProfile, jdbcType=VARCHAR},
		hireDate=#{hireDate}, retireDate=#{retireDate}
		WHERE empIdx = #{empIdx}
	</update>

	<update id="updateEmployee2" parameterType="com.sp.app.model.Member">
		UPDATE Employee
		SET deptIdx=#{deptIdx, jdbcType=VARCHAR}, teamIdx=#{teamIdx, jdbcType=VARCHAR}, 
		positionCode=#{positionCode, jdbcType=VARCHAR}
		WHERE empIdx = #{empIdx}
	</update>
	
	<update id="updateEmployeeDetail" parameterType="com.sp.app.model.Member">
		UPDATE EmployeeDetail 
		SET email= #{email}, rrn = #{rrn}, tel= #{tel}, addrMain=#{addrMain}, addrSub=#{addrSub} 
		WHERE empIdx = #{empIdx}
	</update>
	
	<select id="findByEmpIdx" parameterType="Long" resultType="com.sp.app.model.Member" >
		select e.empIdx, e.empCode, e.empName, e.empPwd, e.deptIdx, e.teamIdx, e.positionCode, e.emptel, e.empStatus, 
				TO_CHAR(e.hireDate, 'YYYY-MM-DD') hireDate, TO_CHAR(e.retireDate,'YYYY-MM-DD') retireDate, d.deptName, t.teamName, p.positionName, 
				ed.tel, ed.email, ed.addrmain, ed.addrSub, ed.zipcode, ed.rrn, saveProfile
		from employee e
        left outer join employeedetail ed ON ed.empIdx = e.empIdx
		left outer join department d ON d.deptidx = e.deptidx
		left outer join team t On t.teamidx = e.teamidx
		left outer join position p ON p.positionCode = e.positioncode
		WHERE e.empIdx = #{empIdx}
	</select>
		
	<select id="findByEmpCode" parameterType="String" resultType="com.sp.app.model.Member" >
		select empIdx, empCode, empName, empPwd, e.deptIdx, e.teamIdx, e.positionCode, emptel, empStatus, 
				hiredate, retiredate, d.deptName, t.teamName, p.positionName
		from employee e
		left outer join department d ON d.deptidx = e.deptidx
		left outer join team t On t.teamidx = e.teamidx
		left outer join position p ON p.positionCode = e.positioncode
		WHERE empCode = #{empCode} AND empStatus = 0
		ORDER BY empCode DESC	
	</select>
			
	<select id="listMemberAll" resultType="com.sp.app.model.Member">
		SELECT empIdx, empCode, empName, deptIdx, teamIdx, positionCode, empTel 
		FROM employee
	</select>
	
	<select id="listMember" parameterType="map" resultType="com.sp.app.model.Member">
		select e.empIdx, empCode, empName, e.deptIdx, e.teamIdx, e.positionCode, e.teamIdx, e.emptel, e.empstatus, ed.tel, ed.email,
				TO_CHAR(e.hireDate, 'YYYY-MM-DD') hireDate, e.retireDate, d.deptName, t.teamName, p.positionName
		from employee e
		left outer JOIN employeedetail ed ON e.empIdx = ed.empIdx
		left outer join department d ON d.deptidx = e.deptidx
		left outer join team t On t.teamidx = e.teamidx
		left outer join position p ON p.positionCode = e.positioncode
		ORDER BY deptName ASC
	</select>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) AS dataCount
		FROM employee e
		JOIN employeedetail d ON e.empIdx = d.empIdx
	</select>
	
	<insert id="insertEmployeeHistory" parameterType="com.sp.app.model.Member">
		INSERT INTO employeeHistory(historyIdx, empIdx, startdate, deptname, teamname, emprank, note, updateCode, updateName) 
		VALUES(employeehistory_seq.NEXTVAL, #{empIdx}, #{startDate}, #{deptName, jdbcType=VARCHAR}, #{teamName, jdbcType=VARCHAR}, #{empRank}, #{note}, #{updateCode}, #{updateName})
	</insert>
	
	<insert id="insertEmployeeHistory2" parameterType="com.sp.app.model.Member">
		INSERT INTO employeeHistory(historyIdx, empIdx, startDate, deptName, teamName, empRank, note, updateCode, updateName) 
		VALUES(employeehistory_seq.NEXTVAL, #{empIdx}, TO_DATE(#{hireDate, jdbcType=DATE},'YYYY-MM-DD'), #{deptName, jdbcType=VARCHAR}, #{teamName, jdbcType=VARCHAR}, #{positionCode}, '입사', #{updateCode}, #{updateName})
	</insert>
	
	<update id="updateEmployeeHistory" parameterType="com.sp.app.model.Member">		
		UPDATE employeeHistory SET enddate = TO_DATE(#{endDate, jdbcType=VARCHAR}, 'YYYY-MM-DD')
		WHERE historyIdx = #{historyIdx}
	</update>

	<select id="getEmpRecord" parameterType ="long" resultType="com.sp.app.model.Member">
		SELECT historyIdx, empIdx, deptName, teamName, empRank, 
			TO_CHAR(startDate,'YYYY-MM-DD') AS startDate, TO_CHAR(endDate,'YYYY-MM-DD') AS endDate, 
			note, updateName, updateCode
		FROM employeeHistory
		WHERE empIdx = #{empIdx}
		ORDER BY historyIdx DESC
	</select>

	<select id="lastEmpHistory" parameterType ="long" resultType="com.sp.app.model.Member">
		SELECT historyIdx, empIdx, deptName, teamName, empRank, 
			TO_CHAR(startDate,'YYYY-MM-DD') AS startDate, TO_CHAR(endDate,'YYYY-MM-DD') AS endDate, 
			note, updateName, updateCode
		FROM employeeHistory
		WHERE empIdx = #{empIdx}
		ORDER BY historyIdx DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="findByProfile" parameterType="long" resultType="com.sp.app.model.Member">
		SELECT saveProfile FROM employee WHERE empIdx = #{empIdx}
	</select>
	
	<insert id="insertWorklog" parameterType="long">
		INSERT INTO worklog (workIdx, empIdx, workDate, LoginTime)
		VALUES (worklog_seq.NEXTVAL, #{empIdx}, SYSDATE, SYSDATE)
	</insert>
	
	<select id="getDeptName" parameterType="String" resultType="String">
		SELECT deptName FROM department WHERE deptIdx = #{deptIdx}
	</select>
	
	<select id="getTeamName" parameterType="String" resultType="String">
		SELECT teamName FROM team WHERE teamIdx = #{teamIdx}
	</select>
	
</mapper>