<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.MyPageMapper">
	<select id="workList" parameterType="map" resultType="com.sp.app.model.MyPage">
		SELECT workIdx, e.empIdx, workDate, TO_CHAR(loginTime, 'HH24:MI:SS') loginTime
		FROM workLog w
		JOIN employee e ON e.empIdx = w.empIdx
		WHERE e.empIdx = #{empIdx}
	</select>
	
	<select id="getEmpInfo" parameterType="long">
	    SELECT e.empIdx, e.empPwd, e.empName, e.deptIdx, e.teamIdx, e.positionCode, e.empTel, TO_CHAR(e.hireDate, 'YYYY-MM-DD') hireDate, e.retireDate, 
	           SUBSTR(d.email, 1, INSTR(d.email, '@') -1) AS email, d.tel, d.zipCode, d.addrMain, d.addrSub, d.rrn, 
	           deptName, teamName, saveProfile, p.positionName
	    FROM employee e
	    JOIN employeeDetail d ON e.empIdx = d.empIdx
	    JOIN position p ON p.positionCode = e.positioncode
	    JOIN department d ON d.deptIdx = e.deptIdx
	    JOIN team t ON t.teamIdx = e.teamIdx
	    WHERE e.empIdx = #{empIdx}
	</select>
	
 	<select id="getEmpInfo2" parameterType="long">
	    SELECT e.empIdx, e.empPwd, e.empName, e.deptIdx, e.teamIdx, e.positionCode, e.empTel, TO_CHAR(e.hireDate, 'YYYY-MM-DD') hireDate, e.retireDate, 
	           SUBSTR(d.email, 1, INSTR(d.email, '@') -1) AS email, d.tel, d.zipCode, d.addrMain, d.addrSub, d.rrn, h.deptName, h.teamName, h.startDate, saveProfile, p.positionName
	    FROM employee e
	    JOIN employeeDetail d ON e.empIdx = d.empIdx
	    JOIN position p ON p.positionCode = e.positioncode
	    LEFT OUTER JOIN (
	        SELECT h.empIdx, h.deptName, h.teamName, h.startDate
	        FROM (
	            SELECT h.*, ROW_NUMBER() OVER (PARTITION BY empIdx ORDER BY startDate DESC) AS rn
	            FROM employeeHistory h
	        ) h
	        WHERE h.rn = 1 
	    ) h ON e.empIdx = h.empIdx
	    WHERE e.empIdx = #{empIdx}
	</select>
	
	<update id="updateEmpInfo" parameterType="com.sp.app.model.Member">
    	UPDATE employee
	    SET saveProfile = #{saveProfile, jdbcType=VARCHAR}
	    WHERE empIdx = #{empIdx}
	</update>
	
	<select id="getEmpRecord" parameterType ="long" resultType="com.sp.app.model.Member">
		SELECT historyIdx, empIdx, deptName, teamName, empRank, TO_CHAR(startDate,'YYYY-MM-DD') AS startDate, TO_CHAR(endDate,'YYYY-MM-DD') AS endDate, note
		FROM employeeHistory
		WHERE empIdx = #{empIdx}
		ORDER BY startDate DESC
	</select>
	
	<select id="timeKeeping" parameterType="map" resultType="com.sp.app.model.MyPage">
        SELECT o.otReqIdx, d.aprIdx, e.empName, d.deptIdx, d.teamIdx, e.positionCode, d.status, TO_CHAR(o.overDate,'YYYY-MM-DD')overDate, o.overTime, o.workDetail, 
        		p.positionName, d.deptName, t.teamName
		FROM employee e
		JOIN position p ON p.positionCode = e.positionCode
		JOIN department d ON d.deptIdx = e.deptIdx
		LEFT OUTER JOIN team t ON t.teamIdx = e.teamIdx
		LEFT OUTER JOIN docApproval d ON d.empIdx = e.empIdx
		JOIN overtimeRequest o ON o.aprIdx = d.aprIdx
		WHERE d.status = 0
	</select>

	<select id="paidOffTime" parameterType="map" resultType="com.sp.app.model.MyPage">
		SELECT e.empIdx, e.deptIdx, e.empName, e.teamIdx, e.positionCode, d.status, d.aprIdx, l.leaveType, 
			TO_CHAR(l.startDate,'YYYY-MM-DD')startDate, TO_CHAR(l.endDate, 'YYYY-MM-DD') endDate, l.leaveDays, l.leaveReason, l.remarks, 
			p.positionName, d.deptName, t.teamName
		FROM employee e
		JOIN position p ON p.positionCode = e.positionCode
		JOIN department d ON d.deptIdx = e.deptIdx
		LEFT OUTER JOIN team t ON t.teamIdx = e.teamIdx
		LEFT OUTER JOIN docApproval d ON d.empIdx = e.empIdx
		JOIN leaveRequest l ON l.aprIdx = d.aprIdx
		WHERE d.status = 0
	</select>
	
	<select id="getLoginTime" parameterType="long" resultType="com.sp.app.model.MyPage">
		SELECT workIdx, empIdx, workDate,  TO_CHAR(loginTime, 'HH24:MI:SS') loginTime
		FROM worklog
		WHERE TRUNC(loginTime) = TRUNC(SYSDATE) AND empIdx = #{empIdx}
	</select>
	
	<select id="getSysdate" parameterType="String" resultType="String">
		SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') FROM dual
	</select>
	
	<select id="getLocalTime" parameterType="String" resultType="String">
		SELECT TO_CHAR(SYSDATE, 'HH24:MI:SS') FROM dual
	</select>
	
</mapper>