<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.ProjectMapper">

	<insert id="insertProject" parameterType="com.sp.app.model.Project">
		INSERT INTO project(projIdx, empIdx, projName, createdAt, startDate, endDate, status)
		VALUES(project_seq.NEXTVAL, #{empIdx}, #{projName}, SYSDATE, #{startDate}, #{endDate}, 0)
	</insert>
	
	<select id="listTeam" parameterType="map" resultType="com.sp.app.model.Project">
		SELECT teamIdx, t.deptIdx, teamName
		FROM team t
		LEFT OUTER JOIN department d ON t.deptIdx = d.deptIdx
		WHERE t.deptIdx = #{deptIdx}
	</select>
	
	<select id="listEmpName" parameterType="map" resultType="com.sp.app.model.Project">
		SELECT empIdx, empName, deptIdx, teamIdx
		FROM employee
		WHERE deptIdx = #{deptIdx} AND teamIdx = #{teamIdx}
	</select>
	
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(projIdx), 0)
		FROM project p
		JOIN employee e ON p.empIdx = e.empIdx
	</select>
	
	<select id="listProject" parameterType="map" 
			resultType="com.sp.app.model.Project">
		SELECT p.projIdx, projName, TO_CHAR(createdAt, 'YYYY-MM-DD') createdAt, e.empName,
			TO_CHAR(startDate, 'YYYY-MM-DD') startDate, TO_CHAR(endDate, 'YYYY-MM-DD') endDate
		FROM project p
		JOIN employee e ON p.empIdx = e.empIdx
		<where>
			<if test="kwd != null and kwd !=''">
				INSTR(projName, #{kwd}) &gt; 0
			</if>
		</where>
		ORDER BY projIdx DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="findById" parameterType="Long" resultType="com.sp.app.model.Project">
		SELECT projIdx, e.empIdx, e.empName, t.teamName, projName, startDate, endDate 
		FROM project p
		JOIN employee e ON p.empIdx = e.empIdx
		JOIN team t ON e.teamIdx = t.teamIdx
		WHERE projIdx=#{projIdx}
	</select>
	
	
	<update id="updateProject" parameterType="com.sp.app.model.Project">
		UPDATE project SET empIdx=#{empIdx}, startDate=#{startDate}, endDate=#{endDate}
		WHERE projIdx=#{projIdx}
	</update>
	
	
	<insert id="insertProjectMember" parameterType="com.sp.app.model.project.ProjectMember">
		INSERT INTO projectMember(memberIdx, projIdx, empIdx, teamName, role)
		VALUES(projectMember_seq.NEXTVAL, #{projIdx}, #{empIdx}, #{teamName}, #{role})
	</insert>

</mapper>