<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.ProjectMapper">

	<insert id="insertProject" parameterType="com.sp.app.model.Project">
		INSERT INTO project(projIdx, empIdx, projName, createdAt, startDate, endDate, status)
		VALUES(project_seq.NEXTVAL, #{empIdx}, #{projName}, #{createdAt}, #{startDate}, #{endDate}, 0)
	</insert>
	
	<select id="findByPMname" parameterType="string" resultType="long">
		SELECT empIdx FROM employee WHERE empName = #{empName}
	</select>

</mapper>