<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sp.app.mapper.ReservationMapper">
	<insert id="insertReservation" parameterType="com.sp.app.model.Reservation">
		INSERT INTO reservation (reservIdx, empCode, empName, title, cabinet, regDate, reservDate, startTime, endTime)
		VALUES(reservIdx_seq.NEXTVAL, 
		#{empCode}, #{empName}, #{title}, 
		#{cabinet}, SYSDATE, 
		#{reservDate, jdbcType=VARCHAR}, 
		#{startTime, jdbcType=VARCHAR}, 
		#{endTime, jdbcType=VARCHAR})
	</insert>

	<select id="listMonth" parameterType="map" resultType="com.sp.app.model.Reservation">
		SELECT reservIdx, title, reservDate, TO_DATE(reservDate, 'YYYY-MM-DD')+1 As endDate, startTime, endTime, empCode, empName,
				cabinet, regDate
		FROM reservation
		<where>
			cabinet = #{cabinet}
			AND 
			  ( TO_DATE(reservDate, 'YYYY-MM-DD') = TO_DATE(reservDate, 'YYYY-MM-DD') )
		</where>
		ORDER BY startTime ASC, reservIdx DESC 
	</select>

	<select id="findById" parameterType="Long" resultType="com.sp.app.model.Reservation">
		SELECT reservIdx, title, reservDate, startTime, endTime, cabinet, empCode, empName, regDate  
		FROM  reservation
		WHERE reservIdx = #{reservIdx}
	</select>
	
	<delete id="deleteReservation" parameterType="map">
		DELETE FROM reservation
		WHERE reservIdx = #{reservIdx} AND empCode = #{empCode}
	</delete>

</mapper>