<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.SignMapper">

	<select id="listMember" parameterType="map" resultType="com.sp.app.model.Member">
		SELECT empIdx, empCode, empName, d.deptIdx, d.deptName, t.teamIdx, t.teamName, p.positionCode, p.positionName, empStatus
		FROM employee e
		LEFT OUTER JOIN department d ON e.deptIdx = d.deptIdx
		LEFT OUTER JOIN team t ON e.teamIdx = t.teamIdx
		LEFT OUTER JOIN position p ON e.positionCode = p.positioncode
		<where>
			empStatus = 0
			<if test="deptIdx != null and deptIdx != '' ">
				AND d.deptIdx = #{deptIdx}
			</if>
			<if test="teamIdx != null and teamIdx != '' ">
				AND t.teamIdx = #{teamIdx}
			</if>
			<if test="positionCode != null and positionCode != 0 ">
				AND p.positionCode = #{positionCode}
			</if>
		</where>
	</select>
	
</mapper>